html {
  background-color: #c9b5ab;
}

h1 {
  font-size: 1.5rem;
  color: #3f1622;
}

.lii {
  color: #8f2440;
}

.ili {
  font-size: 1.125rem;
}

h2 {
  font-family: PT, Sans;
  font-weight: bold;
  font-size: 1.125rem;
}

.p1 {
  font-style: italic;
  text-align: center;
  font-size: 0.8rem;
  color: #222;
}

.p2 {
  font-family: PT, Sans;
  font-size: 1.125rem;
  font-weight: bold;
  color: #222;
}

.p3 {
  font-family: PT, serif;
  font-size: 0.8rem;
  color: #222;
}

.p5 {
  font-family: PT, serif;
  font-size: 1.5rem;
  text-align: center;
  font-style: italic;
  color: #222;
}

.p4 {
  font-size: 0.8rem;
  font-style: italic;
  color: #222;
}

ul li {
  font-size: 0.8rem;
  color: #222;
}

.dt1 {
  font-style: italic;
  font-size: 0.8rem;
}

.dt2 {
  font-size: 0.8rem;
  font-family: PT, serif;
  font-weight: bold;
}

.dt3 {
  font-size: 0.8rem;
  font-family: PT, serif;
}

a {
  color: #8f2440;
}
